* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

#nav1{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding: 15px 70px;
}

#email-container{
    display: flex;
}

#email-container .fa-solid{
    margin-right: 10px;
}


#nav1-left{
    display: flex;
    gap: 20px;
    
}

#nav1-right{
    display: flex;
    gap: 20px;

}

#socialmedia-container,
#language-container,
#login{display: flex;}

.line{
    height: 23px;
    width: 1px;
    background-color: #d3d3d3;
    margin-right: 15px;
    margin-left: 2px;
}

#socialmedia-container i{
    margin-right: 20px;
}

#language-container { gap:  10px;}
#login { gap: 10px;}

#header1{
    display: flex;
    justify-content: space-around;
    padding: 15px 220px;
    font-family: "Cairo", sans-serif;
}

#logo{padding-right: 180px;}

#header-center,
#header-right {display: flex;
padding-right: 100px;}

#header-center{gap: 30px;}

#header1 li {
    list-style-type: none;
    margin-right: 30px;
}
#header1 li:hover {color: #7fad39;

    }

#icons-header i{
    margin-right: 15px;
    gap: 10px;
}

.drop-menu {
    display: block;
color: black;
position: absolute;
opacity: 0;
transition: 0.5s;
z-index: -99;
top: 50px;
width: 400%;

}

.navdrop { position: relative;}

.navdrop:hover .drop-menu {
   top: 20px;
   opacity: 1;
   z-index: 99;
}

#bottom-nav{ display: flex;
justify-content: space-around;
padding: 15px 240px;}

.fa-phone{color: #7fad39;}

#navbottom-left,
#navbottomright,
#navbottom-center{display: flex; font-family: "Cairo", sans-serif;}

#navbottom-left{gap: 15px;
background-color: #7fad39;
align-items: center;
width: 250px;
padding-left: 25px;
color: white;}

#navbottom-left .fa-solid{padding-left: 25px;}

#navbottom-center{align-items: center;
gap: 10px;
border: 1px solid;

width: 600px;
justify-content: space-between;
}

.search-box{height: 100%;
width: 280px;
border: none;}

#button-search{
    height: 100%;
    width: 150px;
    border: none;
    background-color: #7fad39;
    color: white;
    
}

#navbottom-right{ display: flex;
    gap: 10px;
    padding-right: 90px;
    align-items: center;
}

#banner-container{ display: grid;
    grid-template-columns: 25% 50% 25%;
    align-content: center;
    background-image: url(banner.jpg);
    grid-column-start: 2;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-position-x: 65%;
}

#subtitle-banner{grid-column-start: 2;
padding: 30%;
display: block;
font-family: "Cairo", sans-serif;

}

#subtitle-banner H2{ font-size: 46px;
    line-height: 52px;
    margin: 10px 0;
    font-weight: 800;
}

    #subtitle-banner span{letter-spacing: 4px;
        color: #7fad39;
        font-weight: 700;
        }

        #carroussel{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 350px;
        
        }
        .container{
            display: flex;
            justify-content: left;
            align-items: center;
            width: 68%;
            height: 100%;
            overflow: hidden;
        
        }
        #img1{
        
            background: url(https://preview.colorlib.com/theme/ogani/img/categories/cat-1.jpg.webp) center center no-repeat;
            background-size: cover;
        }
        #img2{
        
            background: url(https://preview.colorlib.com/theme/ogani/img/categories/cat-2.jpg.webp) center center no-repeat;
            background-size: cover;
        }
        #img3{
        
            background: url(https://preview.colorlib.com/theme/ogani/img/categories/cat-3.jpg.webp) center center no-repeat;
            background-size: cover;
        }
        #img4{
        
            background: url(https://preview.colorlib.com/theme/ogani/img/categories/cat-4.jpg.webp) center center no-repeat;
            background-size: cover;
            
        }
        
        .carroussel_item{
            min-width: 23%;
            width: 23%;
            height: 30vh;
            min-height: 30vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            margin: 0 1%;
        }
        
        .animation{
            transition: ease-in-out 1.5s;
        }
        .img_texts{
            background-color: white;
            color: black;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15%;
            font-weight: 700;
            margin-bottom: 5%;
        }
        #featured hr{
            margin: 20px 0;
            height: 4px;
            background-color: #7fad39;
            width: 5%;
        }
        #featured #titulo h1{
            font-weight: 800;
        }
        #featured{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #navf .itens a {
            text-decoration: none;
            color: #414141;
        }
        #navf{
            display: flex;
            justify-content: space-between;
            width: 30%;
            font-size: large;
        }
        #gridf{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 386px;
            row-gap: 50px;
            margin: 5vh	0;
            width: 68%;
        }
        .fetured_p{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .fetured_p img{
            width: 90%;
        }
        .fetured_p p{
            text-align: center;
            margin: 10px 0;
            font-size: 18px;
        }
        .fetured_p h3{
            text-align: center;
            margin: 10px 0;
            font-weight: 800;
        }
        #banners{
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 6%;
            margin-bottom: 7vh;
        }
        .btn_arrow{
            height: 18%;
            margin: 0 20px;
            width: 1.5%;
            background-color: transparent;
            border: solid 1px #ebebeb ;
        }
        .virada svg{
            transform: rotateY(180deg);
        }
        #columns{
            width: 68%;
            justify-content: space-between;
            display: flex;
        }
        .column_product{
            display: flex;
            justify-content: left;
            width: 100%;
        }
        .column_product img{
            margin-right: 20px;
        }
        .column_product	h3{
            margin-top: 10px;
        }
        .column{
            width: 30%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        #arrows{
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        #arrows h1{
            font-size: 28px;
        }
        #arrows button{
            background-color: #f3f3f3;
            border: solid 1px #ebebeb ;
            width: 30px;
            height: 30px;
        }
        #ul_grow{
            list-style: none;
            padding: 0 15px;
            position: absolute;
            background-color: #303030;
            color: #f5f5f5;
            width: 10%;
            opacity: 0;
            z-index: -99;
        }
        #ul_grow li{
            margin: 10px 0;
        
        }
        #ul_grow li a{
        
            color: rgb(223, 223, 223);
        }
        
        #nav_grow:hover #ul_grow{
            opacity: 1;
            z-index: 99;
        }
        
        #click_nav{
        
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
        }

        #blog hr{
            margin: 20px 0;
            height: 4px;
            background-color: #7fad39;
            width: 5%;
        }
        #blog #titulo h1{
            font-weight: 800;
        }
        #blog{
            margin: 7vh 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #posts{
            width: 68%;
            margin-top: 4vh;
            display: flex;
            justify-content: space-between;
        }
        .post{
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .post #img img{
            width: 100%;
        }
        .post div{
            margin-bottom: 10px;
        }
        .post #content h3{
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .post #content p{
            font-size: medium;
            text-align: justify;
        }
        .post_blog{
            width: 90%;
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .post_blog #img img{
            width: 100%;
        }
        .post_blog div{
            margin-bottom: 10px;
        }
        .post_blog #content h3{
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .post_blog #content p{
            font-size: medium;
            text-align: justify;
        }
        .post_blog #button button{
            font-size: small;
            height: 50px;
            width: 150px;
            background-color: white;
            border-radius: 30px;
            border: solid 0.5px #414141;
        }
        #buscar{
            width: 90%;
        
        }
        #busca_blog{
            margin-top: 10vh;
            width: 90%;
            border-radius: 16px;
            height: 4vh;
            border: solid 0.5px #ebebeb;
            padding: 0 20px;
        }
        #categories_blog{
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        
            height: 40vh;
        }
        #categories_blog a{
            text-decoration: none;
            color: #414141;
        
        }
        #recent_news{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-evenly;
            height: 40vh;
        }
        #recent_news h2{
            margin: 30px 0;
        }
        #recent_news img{
            margin-right: 15px;
        }
        #recent_news p{
            margin-bottom: 5px;
        }
        #claro{
            color: #9d9d9d;
            font-size: small;
        }
        .news{
            display: flex;
            margin: 20px 0;
        }
        
        footer{
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f3f6fa;
        }
        #join{
            width: 23%;
        
        
        }
        #logo_footer{
            width: 23%;
        }
        #useful{
            width: 27%;
        }
        #message{
            margin: 30px 0;
            width: 100%;
            height: 5vh;
            border: solid 1px #ebebeb ;
            display: flex;
        }
        #blog_pages{
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        
        }
        #pages{
            display: flex;
            margin: 5vh 0 0 0;
            width: 55%;
        }
        #pages fieldset{
            width: 11px;
            height: 13px;
            color: #6f6f6f;
            font-size: xx-small;
            font-weight: 800;
            margin: 0 10px;
            text-align: center;
            vertical-align: center;
        }
        #flex_wrap{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin-top: 30px;
            row-gap: 10px;
            column-gap: 10px;
        }
        #search_by{
            margin-top: 150px;
        }







